/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif ;
}
body{
  background-image: url('../images/bg4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.notes , .todos {
  
  margin: 0 auto;
  padding: 20px;
  
  justify-content: space-between;
  
  width: 500px;
   height: 450px;
   background-image: url('../images/stars.jpg');
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
   border:2px solid rgba(255,255,255,.2);
   backdrop-filter:blur(20px);
   color: #FFFFFF;
   border-radius: 15px;
  
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.input-section, .output-section {
  flex: 1;
  margin-right: 70px;
}

h2 {
  text-align: center;
  font-style: italic;
  font-family:'Pacifico';
  font-size: 50px;
}

textarea, input[type="text"] {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #CCCCCC;
  margin-bottom: 10px;
}

button {
  width: max-content;
     background: transparent;
     outline: none;
     border-radius: 40px;
     border: 1px solid rgb(228, 201, 201);
     margin: 30px;
     padding: 20px 20px;
     color: aliceblue;
     text-decoration: none;
     font-size: 16px;
     cursor: pointer;
     text-align: center;
}

button:hover {
  background-color: #36648f;
}

#notes-list, #todos-list {
  margin-top: 20px;
}

.note, .todo {
  margin-bottom: 5px;
  color: black;
  background-color:whitesmoke;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;

  align-items: center;
  
}

.todo input[type="checkbox"] {
  margin-right: 10px;
}